.header {
    display: flex;
    justify-content: row;
    align-items: center;
    
    height: 83px;
    width: 1438px;
    left: 50px;
    right: 50px;
    border-radius: 0px;
    background: #131313;
}
.headerInf {
    display: flex;
    align-content: center;
    align-items: center;
}
.MainButton {
    margin-left: 92px;
    margin-right: 95px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase;

    color: #E3B873;
}
.MenuButton {
    margin: 24px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;

    color: #FFFFFF;
}
.NumButton {
    margin: 45px;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: right;
    text-decoration-line: underline;

    color: #E3B873;
}
.RequestButton {
    margin-right: 90px;

    height: 37px;
    width: 161px;
    border-radius: 2px;

    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border-radius: 2px;

    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
}
.BackgroundImg {
    background: rgba(0, 0, 0, 0.7);
    filter: brightness(30%);
}
.Header {
    position: absolute;
    left: 9.31%;
    right: 43.74%;
    top: 35.06%;
    bottom: 51.65%;

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;

    color: #FFFFFF;
}
.ColorText {
   color: #E3B873;
}
.HeaderText {
    position: absolute;
    left: 9.31%;
    right: 55.69%;
    top: 60%;
    bottom: 37.97%;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;

    color: #FFFFFF;
}
.CalculateButton {
    position: absolute;
    left: 9.31%;
    right: 76.32%;
    top: 82%;
    bottom: 11%;

    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;

    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}
.SubmitButton {
    position: absolute;
    left: 25%;
    right: 60%;
    top: 82%;
    bottom: 11%;

    background: rgba(0, 0, 0, 0.7);

    font-family: 'Nunito Sans';
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;

    color: #FFFFFF;
}
.FlexContainer {
    display: flex;

    position: relative;
    left: -0.17%;
    right: -0.11%;
    top: 0%;
    bottom: 57.72%;

    background: #131313;

    height: 1074px;
    width: 1440px;
    left: -2.447265625px;
    top: 0px;
    border-radius: 0px;
}
.HeaderOne {
    height: 66px;
    width: 253px;
    left: 132px;
    top: 176.3602294921875px;
    border-radius: nullpx;

    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;

    color: #E3B873;

    position: relative;
    left: 9.19%;
    right: 73.19%;
    top: 30%;
    bottom: 90.46%;
}
.background {
    position: absolute;
    left: -0.17%;
    right: -0.11%;
    top: 0%;
    bottom: 57.72%;

    background: #131313;
}
.text {
    position: absolute;
    left: 9.19%;
    right: 60.03%;
    top: 10.88%;
    bottom: 85.73%;

    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;

    color: #FFFFFF;
}